<!--- Note: put all styles into CSS-->
<nav class="navbar navbar-expand-lg navbar-light bg-white" style="border: black;">
  <div class="container-fluid">
    <a routerLink="home" class="navbar-brand" style="color:dodgerblue; " size="+3" href="#">Kindle</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search your Kindle" aria-label="Search">
      <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
    </form>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- This portion below should align the drop downs to the right -->
      <ul class="navbar-nav ms-auto" style="border: black;">
       
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Arrows</a> -->
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="35" fill="currentColor" class="bi bi-arrow-down-up"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
          </svg>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" style="padding: 10px">
            Sort by: Recent
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a routerLink="Recent" routerLinkActive="active" class="dropdown-item" href="#">Recent</a></li>
            <li><a class="dropdown-item" href="#">Title</a></li>
            <li><a class="dropdown-item" href="#">Author</a></li>
            <li><a class="dropdown-item" href="#">Purchase Order</a></li>
            <li><a routerLink="Reverse" routerLinkActive="active"class="dropdown-item" href="#">Purchase Order (Reversed)</a></li>
          </ul>
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="35" fill="currentColor"
            class="bi bi-x-diamond-fill" viewBox="0 0 16 16">
            <path
              d="M9.05.435c-.58-.58-1.52-.58-2.1 0L4.047 3.339 8 7.293l3.954-3.954L9.049.435zm3.61 3.611L8.708 8l3.954 3.954 2.904-2.905c.58-.58.58-1.519 0-2.098l-2.904-2.905zm-.706 8.614L8 8.708l-3.954 3.954 2.905 2.904c.58.58 1.519.58 2.098 0l2.905-2.904zm-8.614-.706L7.292 8 3.339 4.046.435 6.951c-.58.58-.58 1.519 0 2.098l2.904 2.905z" />
          </svg>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            View
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a routerLink="Grid-View" routerLinkActive="active" class="dropdown-item" href="#">Grid</a></li>
            <li><a routerLink="List-View" routerLinkActive="active"class="dropdown-item" href="#">List</a></li>

          </ul>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link disabled">Disabled</a> -->
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="35" fill="currentColor" class="bi bi-cart"
            viewBox="0 0 16 16">
            <path
              d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
          </svg>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link", href="#">Dots</a> -->
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="35" fill="currentColor"
            class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
            <path
              d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
          </svg>
        </li>
      </ul>

    </div>
  </div>
</nav>